<div class="login-page">
    <div class="form">
      <form class="register-form">
        <input type="text" placeholder="First name"name='firstName' id='firstName' required />
        <input type="text" placeholder="Last name" name='lastName' id='lastName' required/>
        <input type="text" placeholder="Password"  name='password' id='password' required/>
        <input type="text" placeholder="Email id" name='email' id='email' required/>
        <input type="text" placeholder="Phone number"  name='PhoneNumber' id='PhoneNumber' required/>
        <input type="text" placeholder="Date Of Birth"  name='DateOfBirth' id='DateOfBirth' required/>
        <button>Create</button>
        <p class="message">Already Registered? <a href="/login">Login</a></p>
      </form>
      
      <form class="login-form">
        <input type="text" placeholder="user name"/>
        <input type="password" placeholder="password"/>
        <button>Login</button>
        <p class="message">Not a Registered? <a href="/register">Register</a></p>
      </form>
    </div>
  </div>