<html>
    <%- include("./partials/error"); %>
    <heading>
       Admin login
    </heading>
    <form class="login-form" action="/users/adminLogin" method="POST">
        <input type="text" placeholder="Email id" name='email' id='email' required/>
        <input type="text" placeholder="Password"  name='password' id='password' required/>
        <button>Login</button>
        <p class="message"><a href="/">Return to Home</a></p>
      </form>
</html>