<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="homepage.css">
</head>
<body>
    <header>
        <%- include("./partials/error"); %>
        <div class="wrapper">
            <div class="logo">
                <img src="https://i.postimg.cc/mg4rWBmv/logo.png" alt="">
                
            </div>

            <ul class="nav-area">
                <li><a href="#">Home</a></li>
                <li><a href="/users/menu">Menu</a></li>
                <li><a href="/users/login">Login</a></li>
                <li><a href="/users/register">Register</a></li>
                <li><a href="/users/contact">Contact</a></li>
                <li><a href="/users/booking">Booking</a></li>
                <li><a href="/users/changeBooking">Change Booking</a></li>
                <li><a href="/users/userBooking">User Booking</a></li>
            </ul>
        </div>

        <div class="welcome-text">
            <h1>e<span>Restaurant</span></h1>
        </div>
    </header>
</body>
</html>
