<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../css/login&register.css">
</head>>

<body>
    <%- include("./partials/error"); %>
    <h1>
    Login
    </h1>
    <form class="login-form" action="/users/login" method="POST">
<<<<<<< HEAD
    <input type="text" placeholder="Email id" name='email' id='email' required/>
    <input type="text" placeholder="Password"  name='password' id='password' required/>
    <button>Login</button>
    <p class="message">Not a Registered? <a href="/users/register">Register</a></p>
    <p class="message"><a href="/">Return to Home</a></p>
    </form>
</body>>
=======
        <input type="email" placeholder="Email id" name='email' id='email' required/>
        <input type="password" placeholder="Password"  name='password' id='password' required/>
        <button>Login</button>
        <p class="message">Not a Registered? <a href="/users/register">Register</a></p>
        <p class="message"><a href="/">Return to Home</a></p>
      </form>
>>>>>>> draft-andie
</html>