<html>
    <heading>
        login
    </heading>
    <form class="login-form" action="/users/login" method="POST">
        <input type="text" placeholder="Email id" name='email' id='email' required/>
        <input type="text" placeholder="Password"  name='password' id='password' required/>
        <button>Login</button>
        <p class="message">Not a Registered? <a href="register.html">Register</a></p>
        <p class="message"><a href="homepage.html">Return to Home</a></p>
      </form>
</html>