<html>
    <%- include("./partials/error"); %>
     <h1>
         Login
     </h1>
    <form class="login-form" action="/users/login" method="POST">
        <input type="text" placeholder="Email id" name='email' id='email' required/>
        <input type="text" placeholder="Password"  name='password' id='password' required/>
        <button>Login</button>
        <p class="message">Not a Registered? <a href="/users/register">Register</a></p>
        <p class="message"><a href="/">Return to Home</a></p>
      </form>
</html>