

<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Menu</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>

  <div class="menu-page">
    <div class="selection-bar" >
    <form class="form" action="/users/login" method="POST">
        <h2>Menu</h2>
        <a href="#special">Special</a>
        <a href="#entree">Entrees</a>
        <a href="#side">Side</a>
        <a href="#maincourses">Main Courses</a>
        <a href="#dessert">Dessert</a>
        <a href="#drinks">Drinks</a>

      </form>

      </div>
      <label for="filter">Filters:</label>
      <select name="cars" id="cars">
        <option value="filter-select">options...</option>
        <option value="vegan">Vegan</option>
        <option value="vegetarian">Vegetarian</option>
        <option value="lactose-intolerant">Lactose Inolerant</option>
        <option value="halal">Halal</option>  
        </select>
        <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for items..">
        <button>Search</button>

    </div>
</body>

</html> 


