<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
</head>
<body>
    <img src="https://www.posist.com/restaurant-times/wp-content/uploads/2018/11/How-to-write-restaurant-menu-descriptions-that-tempt-customers-to-order-more-USA-1.jpg" alt="menu img">
</body>
</html>