<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="../css/login&register.css">
</head>
<body>
<%- include("./partials/error"); %>
<h1>Register form</h1>
<div class="login-page">
    <div class="form">
      <form class="register-form"  method="POST" action="/users/register" >
        <p>First Name</p>
        <input type="text" placeholder="First name"name='firstName' id='firstName' required />
        <p>Last Name</p>
        <input type="text" placeholder="Last name" name='lastName' id='lastName' required/>
        <p>Password</p>
        <input type="text" placeholder="Password"  name='password' id='password' required/>
        <p>Email</p>
        <input type="text" placeholder="email" name='email' id='email' required/>
        <p>Phone Number</p>
        <input type="text" placeholder="Phone number"  name='phone' id='phone' required/>
        <p>Date of Birth</p>
        <input type="date" placeholder="Date Of Birth (dd/mm/yyyy)"  name='dob' id='dob' required/>
        <button id='btn'>Create</button>
        <p class="message">Already Registered? <a href="/users/login">Login</a></p>
      </form>
    </div>
  </div>
</body>
</html>>
